%title-itemCard{
  margin: 0;
  max-width: 256px;

  color: white;
};

$colorLightBrowItem: #baad99;
$colorLightGreenItem: #c3ce36;
$colorLightPupleItem: #7674b4;
$colorLightGrey: #575b71;

.catalog-wrap {
  max-width: 800px;
  margin: 0 auto;
	flex: 1 0 auto;
  
  .catalog {
    width: 100%;
    margin-bottom: 15px;

    font-family: 'mb';
    font-size: 36px;
    line-height: 40px;
  }

  .items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 800px;
  }

    .item {
      flex: 0 1 33.333%;
      margin-bottom: 5px;

      .titleElectricalGoodsAndLights {
        background-color: $colorLightPupleItem; 

        @extend %title-itemCard;
      }

      .titleGarden {
        background-color: $colorLightGreenItem; 

        @extend %title-itemCard;
      }

      .titleHouseholAppliancies {
        background-color: $colorLightPupleItem; 

        @extend %title-itemCard;
      }

      .titleKitchen {
        background-color: $colorLightBrowItem;

        @extend %title-itemCard;
      }
    
      .titleDecor {
        background-color: $colorLightPupleItem; 

        @extend %title-itemCard;
      }

      .titleColors {
        background-color: $colorLightGreenItem; 

        @extend %title-itemCard;
      }

      .titleHouseholdGoods {
        background-color: $colorLightGreenItem;

        @extend %title-itemCard;      
      }

      .titleDecorationMaterials {
        background-color: $colorLightBrowItem; 

        @extend %title-itemCard;
      }

      .titleSanitaryEngineering {
        background-color: $colorLightPupleItem;
      
        @extend %title-itemCard;      
      }
  }
  
  .imageCategoryCard{
    width:256px;
    height: 162.99px;
  }
  .imageCategory{
    width:256px;
    height: 162.99px;
  }
}

@media screen and (max-width: 788px) {
  .catalog-wrap {
    max-width: 570px;

      .item {
        flex: 0 1 40%;
      }
  }
}

@media screen and (max-width: 529px) {
  .catalog-wrap {
    max-width: none;

  .items{
    display: flex;
    flex-direction: column;
    max-width: none
  }
}
}