@import '../pages/main/header/styles/header-wrap';
@import '../pages/main/header/styles/header-box';
@import '../pages/main/catalog/styles/catalog-box';
@import '../pages/main/footer/styles/footer-wrap';
@import '../pages/main/footer/styles/footer-box';
@import '../pages/main/footer/styles/social-buttons';
@import '../pages/about/styles/about-box';
@import '../pages/catalogItems/styles/catalog-item';
@import '../pages/basket/styles/busket-box';
@import '../pages/basket/styles/counter-box';
@import '../common/components/popup/styles/popup-box';
@import '../pages/basket/styles/popupOrder-box';
@import '../pages/basket/styles/popupThanks-box';
@import '../pages/catalogItems/styles/popupBasket-box';
@import '../common/components/loginForm/styles/loginForm-box';
@import '../pages/changePassword/styles/change-password';
@import '../pages/registration/styles/registration';
@import '../pages/personalAccount/styles/personalAccount-box';
@import '../pages/editCategory/styles/editCategory-box';
@import '../pages/editCategory/styles/addCategory-box';
@import '../pages/editProducts/styles/addProduct-box';
@import '../pages/editProducts/styles/editProducts-box';
@import '../pages/personalAccount/styles/personalInformation-box';
@import '../pages/ordersHistory/styles/ordersHistory-box.scss';

$colorLightRedError: #fac1bd;

body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body{
  height: 100%;

  .-noOverflow {
    overflow: hidden;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

}

.-disabled {
  display: none;
}

.-isLoading {
  background-image: url('../common/assets/common/loading.gif'); 
  width: 100%;
  height: 100%;
  position: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;    
}

.-isCrushed {
  background-image: url('../common/assets/common/somethingWentWrong.png'); 
  width: 100%;
  height: 130%;
  position: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;    
}

.hide{
  display: none;
}

.-notNull{
  background-color: $colorLightRedError ;
}

