.editProducts-box{
  margin: 0 auto;
  max-width: 830px;
  width:100%;
  margin-top: 10px;
	flex: 1 0 auto;

  .addCategoryButton{
    @extend %button;

    height: 40px;

    cursor: pointer;
  }
  
  .listOrder-wrap {
    width: 100%;
    border-bottom: none;
    border-left: none;
    border-right: none;    
    margin-bottom: 15px;
    padding: 0;
    
  .title{
    @extend %busketTable;

    height: 25px;
    margin-top: 20px;
    border: solid 1px $colorBorder;

    background: $colorLightGrey; 

    .titleImage{
      flex-basis: 20%;
    }

    .titleName, .titleEdit, .titleDelete{
      flex-basis: 0%
    }

    .titlePrice{
      flex-basis: 0%;
    }

    .titleInStock{
      flex-basis: 26%;
    }
  }

  .columns {
    @extend %busketTable;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 2px;
    padding-left: 2px;
    border-bottom: dashed 1px $colorBorder;

    .columnImage{
      flex-basis: 17%;

      .imageProducts{
        width:180px;
        height: 140px;
        margin-left: 7px;
      }
    }

   .columnEdit{
    flex-basis: 0%;
   }
   
   .columnDelete{
      flex-basis: 10%;
    }

     .columnCategory{
      flex-basis: 12%;
    }

    .columnName{
      flex-basis: 0%;
    }
    
    .columnPrice{
      flex-basis: 0%;
    }

    .columnInStock{
      flex-basis: 10%;
    }

    .inStockString{
      text-align: center;
    }

    .editProductsButton, .deleteProductsButton{
      @extend %button;
      
      color: $colorLightGreenItem;
      background-color: white;

      font-size: 14px;
  
      cursor: pointer;
    }

    .deleteProductsButton{
      margin-right: 7px;
    }
  }

  li {
    list-style-type: none;
  }

  }
 
    #upload-containerImage div {
      position: relative;
      z-index: 10;
    }

    #upload-containerImage input[type=file] {
      height: 0.1px;
      width: 0.1px;
      position: absolute;
      opacity: 0;
      z-index: -10;
    }

    .imageProductsLabel{
      cursor: pointer;
  }

  .errorImageString{
    color: red;
  }

  .imageCategory{
    width: 256px;
    height: 162.99px;
  }
}

.productsNameNameString{
  @extend %stringPopup;
}

.productsCategory{
  width: 127.75px;
  height: 37px;

  cursor: pointer;
}

.productsNameInput{
  width: 82.29px;
  height: 80px;

  word-wrap: break-word;
  resize: none;
}

.productsInStockInput{
  width: 51.84px;
  height: 39.98px;
}

.productsPriceInput{
  width: 47.87px;
  height: 36px;
  padding: 0px;
}

.addNewProductButton{
  @extend %button;

  cursor: pointer;
}

.addNewProductButton:active, .addNewProductButton:focus, .editProductsButton:active, .editProductsButton:focus, .deleteProductsButton:active, .deleteProductsButton:focus{
  outline: none !important;
 }

