.editProducts-box{
  margin: 0 auto;
  max-width: 830px;
  width:100%;
  margin-top: 10px;
	flex: 1 0 auto;

  .addCategoryButton{
    @extend %button;

    height: 40px;

    cursor: pointer;
  }
  
  .listOrder-wrap {
    width: 100%;
    border-bottom: none;
    border-left: none;
    border-right: none;    
    margin-bottom: 15px;
    padding: 0;
    
  .title{
    @extend %busketTable;

    height: 25px;
    margin-top: 20px;
    border: solid 1px $colorBorder;

    background: $colorLightGrey; 

    .titleImage{
      flex-basis: 12%;
    }

    .titlePrice{
      flex-basis: 4%;
    }

    .titleName, .titleEdit, .titleDelete{
      flex-basis: 6%
    }
  }

  .columns {
    @extend %busketTable;

    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: dashed 1px $colorBorder;

    .columnImage{
      flex-basis: 24%;

      .imageCategory{
        width:256px;
        height: 162.99px;
      }
    }

   .columnEdit{
    flex-basis: 22%;
   }
   
   .columnDelete{
      flex-basis: 20%;
    }

     .columnCategory{
      flex-basis: 24%;
    }

    .columnName{
      flex-basis: 35%;
    }
    
    .columnPrice{
      flex-basis: 12%;
    }

    .editCategoryButton, .deleteCategoryButton{
      border: none;
      border-bottom: dashed 1px blue;

      background-color: white;
      color: blue;
      
      cursor: pointer;
    }
  }

  li {
    list-style-type: none;
  }

  }
 

    #upload-containerImage div {
      position: relative;
      z-index: 10;
    }

    #upload-containerImage input[type=file] {
      height: 0.1px;
      width: 0.1px;
      position: absolute;
      opacity: 0;
      z-index: -10;
    }

    .imageCategoryLabel{
      cursor: pointer;
  }

  .errorImageString{
    color: red;
  }

  .imageCategory{
    width: 256px;
    height: 162.99px;
  }
}

.categoryNameString{
  @extend %stringPopup;
}

.categoryNameInput{
  @extend %inputPopup;
}

.addNewCategoryButton{
  @extend %button;

  margin-left: 130px;
}

.addCategoryButton:active, .addCategoryButton:focus, .editCategoryButton:active, .editCategoryButton:focus, .deleteCategoryButton:active, .deleteCategoryButton:focus{
  outline: none !important;
 }

