@import '../../main/header/styles/header-box';

%title-itemCard{
  margin: 0;
  max-width: 256px;

  color: white;
};

$colorLightBrowItem: #baad99;
$colorLightGreenItem: #c3ce36;
$colorLightPupleItem: #7674b4;
$colorNoRed: #f00;

.container-wrap {
  margin: 0 auto;
  max-width: 830px;
  width:100%;
  margin-top: 10px;
	flex: 1 0 auto;
  
  .items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

    .item-wrap {
      position: relative;

      flex: 0 1 31%;
      margin-bottom: 5px;
      padding-left: 10px;

      border: dotted 1px #e0e0e0;

      >.info {
        position: absolute;
        right: 10px;

        color: #777777;

        font-size: 12px;

        svg {
          width: 15px;
          margin-right: 5px;
        }

        .-yes{
          fill: $colorLightGreenItem;
        }

        .-no{
          fill: $colorNoRed;
        }
      }

      .itemName {
        margin-right: 5px;
        height: 30px;
      }

      .imgItemCard {
          margin-top: 15px;
          margin-right: 5px;

          width:175px;
          height: 140px;

          .imgItem {
            margin-top: 15px;
            margin-right: 5px;
        
            width:175px;
            height: 140px;
          } 
        }

      .purchase {
        display: flex;
        justify-content: space-between;

        .busketButton  {
          @extend %button;
          
          height: 46px;

          margin-right: 5px;
          color:$colorLightGreenItem;

          background-color: white;

          font-size: 0.9em;

          cursor: pointer;
        }
      }
      
    }
}

.busketButton:active, .busketButton:focus  { 
  outline: none !important;
 }


@media screen and (max-width: 788px) {
  .container-wrap {
    max-width: 570px;

      .item-wrap {
        flex: 0 1 40%;
      }
      .stringBascet{
        display: none;
      }
  }
}

@media screen and (max-width: 610px) {
  .container-wrap {
    max-width: 529px;

      .item-wrap {
        flex: 0 1 49%;
        margin: 0 auto;

        .stringBascet{
          display: none;
        }
      }
  }
}
