@import '../../main/header/styles/header-box';

%backSymbol {
    position: absolute;
    top:0px;
    right: 0px;

    width: 30px;
    
    cursor: pointer;
    fill:red;
}

.popupBasket-box{
    padding: 10px;
    position: relative;

    .backSymbol{
        @extend %backSymbol;
    }

    .popupBasketButtons-box{
        display: flex;
        justify-content: space-between;

        .popupBasketButton{
            @extend %button;
        }

        .popupBasketButton{
            cursor: pointer;
        }
    }
}

.popupBasketButton:active, .popupBasketButton:focus  { 
    outline: none !important;
   }
