.catalog-box {
  width: 800px;
  margin: 0 auto;
  margin-top: 10px;

  .items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .item {
    width: calc(33.333% - 3px);
    margin-bottom: 5px;
    position: relative;
  }
}