@import '../../main/header/styles/header-box';
@import '../../main/catalog/styles/catalog-box';
@import '../../../common/loginForm/styles/loginForm-box';
@import '../../changePassword/styles/change-password';

.registration-wrap{
  @extend %wrap;

  .registration{
    position: relative;
  }
  
  .firstNameString, .lastNameString, .emailString, .phoneString, .addressString, .passwordNewString, .passwordNewRepeatString{
    @extend %changePasswordText;
    
  }

  .firstNameString.-required:after, .lastNameString.-required:after, .emailString.-required:after, .phoneString.-required:after, .addressString.-required:after, .passwordNewString.-required:after, .passwordNewRepeatString.-required:after{
    @extend %required;
}

  .firtNameInput, .lastNameInput, .emailRegistrationInput, .phoneRegistrationInput, .addressRegistrationInput, .passwordNewInputRegistration, .passwordNewRepeatInputRegistration{
    @extend %changePasswordInput;
  }

  .registrationButton{
    @extend %button;

    height: 46px;
    margin-bottom: 35px;

    font-size: 18px;

    cursor: pointer;
  }

  .passwordNewRepeat{
    position: relative;
  }

  .errorSymbolFirtName{
    @extend %errorSymbol;
    @extend %errorSymbolChangePassword;

    top: 38px;
  }

  .errorSymbolLastName{
    @extend %errorSymbol;
    @extend %errorSymbolChangePassword;

    top: 130px;
  }

  .errorSymbolRegistrationEmail{
    @extend %errorSymbol;
    @extend %errorSymbolChangePassword;

    top: 224px;
  }

  .errorSymbolRegistrationPhone{
    @extend %errorSymbol;
    @extend %errorSymbolChangePassword;

    top: 318px;
  }

  .errorSymbolRegistrationAddress{
    @extend %errorSymbol;
    @extend %errorSymbolChangePassword;

    top: 412px;
  }

  .errorSymbolPasswordNewRegistration{
    @extend %errorSymbol;
    @extend %errorSymbolChangePassword;

    top: 500px;
  }


  .errorSymbolPasswordNewRepeatRegistration{
    @extend %errorSymbol;
    @extend %errorSymbolChangePassword;

    top: 36px;
  }

  .existingUserStringBlock{
    color: red;
  }

  .-notNull{
    background-color: #fac1bd;
  }

  .errorlengthString{
    color: red;
  }

}

.registrationButton:active, .registrationButton:focus  { 
  outline: none !important;
 }

@media screen and (max-width: 980px) {
  .registration-wrap{
    margin-right: -15px;
  }
}

@media screen and (max-width: 870px) {
  .registration-wrap{
    margin-right: -35px;
  }
}
