%copyright {
  margin-right: 10px;
    
  color: rgb(158, 154, 154);

  font-size: 15px;
}

.footer-box {
  display: flex;
  flex-direction: row-reverse;

  justify-content: space-between;
  align-items: flex-start;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 15px;
  
  .copyright{
    @extend %copyright;
  }
}
