%title-itemCard{
  margin: 0;
  max-width: 256px;

  color: white;
};

$colorLightBrowItem: #baad99;
$colorLightGreenItem: #c3ce36;
$colorLightPupleItem: #7674b4;

.container {
  margin: 0 auto;
  max-width: 800px;

  margin-top: 10px;
	flex: 1 0 auto;
  
.items-wrap{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item {
  flex: 0 1 33.333%;
  margin-bottom: 5px;
  }
}

@media screen and (max-width: 500px) {
  .catalog-box {
    max-width: none;

  .items-wrap{
    display: flex;
    flex-direction: column;
    max-width: none

  }
}
}