%title-itemCard{
  margin: 0;
  width: 256px;

  color: white;
};

$colorLightBrowItem: #baad99;
$colorLightGreenItem: #c3ce36;
$colorLightPupleItem: #7674b4;

.container {
  margin: 0 auto;
  width: 800px;
  margin-top: 10px;

.items-wrap{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item {
  width: calc(33.333% - 3px);
  margin-bottom: 5px;
  }
}