$colorHeaderAbout: #11b1f6;
$fontH1HeaderAbout: 30px Tahoma, Geneva, sans-serif;
$fontH2HeaderAbout: 24px Tahoma, Geneva, sans-serif;
$fontH3HeaderAbout: 22px Tahoma, Geneva, sans-serif;

%header-boxAbout {
  margin: 0;
  padding: 0;
  color: $colorHeaderAbout;
}

%font-aboutParagraps {
  font: 14px Tahoma, Geneva, sans-serif;

  color: #000;
}

.about-wrap {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;

  .boldBlock{
    display: inline-block;
    margin-bottom: 10px;
  }

  .headerH1 {
   @extend %header-boxAbout;

    font: $fontH1HeaderAbout;
  }

  .headerH2 {
    @extend %header-boxAbout;

    font: $fontH2HeaderAbout;
  }

  .headerH3 {
    @extend %header-boxAbout;

    font: $fontH3HeaderAbout;
  }

  .paragraph {
    @extend %font-aboutParagraps;
  }

  
  .list {
    padding: 0;

    .listItem {
      margin-left: 50px;
    }
  }
}
