@import '../../catalog/styles/catalog-box';

%button {
  margin-bottom: 15px;
  padding: .375rem .75rem;
  border: 1px solid transparent;
  border-radius: .25rem;

  color: #fff;
  background-color: $colorLightGreenItem;
  border-color: $colorLightGreenItem;

  font-size: 1rem;
  font-weight: 900;
}

.header-box {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 800px;
  margin: 0 auto;

  .basket {
    position: absolute;
    top: 110px;
    right: 100px;
  }

  .buttonBack {
    @extend %button;
  }
}
