@import '../../../pages/basket/styles/busket-box';

%counterButtons {
  position: absolute;
  width: 17px;
  height: 15px;
  right: 2px;

  background: $colorBorder;
  color: white;

  text-align: center;
  line-height: 14px;

  cursor: pointer;
}

.counter-box {
  position: relative;

  .counter {
    box-sizing: border-box;
    width: 60px;
    padding: 8px 15px 9px 0;
    text-align: center;

    border: solid 1px #9294a5;
    border-radius: 2px;
  }

  .plus {
    @extend %counterButtons;
    bottom: 18px;
  }

  .minus {
    @extend %counterButtons;

    bottom: 2px;
  }
}