@import '../../main/header/styles/header-box';
@import '../../main/catalog/styles/catalog-box';
@import '../../../common/loginForm/styles/loginForm-box';

%changePasswordText{
  padding-bottom: 5px;
  margin: 0px;

  color: $colorLightGrey;

  font-size: 18px;
}

%changePasswordInput{
  display: block;
  width: 60%;
  height: 46px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0 4px;
  border: 1px solid #ccd5db;
  border-radius: 2px;

  background: #f8fafc;
  
  font-size: 18px;

  outline: 0;
}

%wrap{
  margin: 0 auto;
  max-width: 830px;
  width:100%;
  margin-top: 10px;
	flex: 1 0 auto;
}

%errorSymbolChangePassword {
  width: 25px;
  
  right: 330px;
}

.changePassword-wrap{
  @extend %wrap;

  .changePassword{
    position: relative;
  }
  
  .emailString, .passwordNewString, .passwordNewRepeatString{
    @extend %changePasswordText;
  }

  .emailString.-required:after, .passwordNewString.-required:after, .passwordNewRepeatString.-required:after{
    @extend %required;
}

  .emailChangePasswordInput, .passwordNewInput, .passwordNewRepeatInput{
    @extend %changePasswordInput;
  }

  .changePasswordButton{
    @extend %button;

    height: 46px;

    font-size: 18px;

    cursor: pointer;
  }

  .emailChangePasswordErrorSymbol{
    @extend %errorSymbol;
    @extend %errorSymbolChangePassword;

    top: 36px;
  }

  .errorSymbolPasswordNew{
    @extend %errorSymbol;
    @extend %errorSymbolChangePassword;

    top: 132px;
  }

  .errorSymbolPasswordNewRepeat{
    @extend %errorSymbol;
    @extend %errorSymbolChangePassword;

    top: 224px;
  }

  .-notNull{
    background-color: #fac1bd;
  }

  .userNotFoundBlock, .errorlengthString{
    color: red;
  }
  
}

.changePasswordButton:active, .changePasswordButton:focus  { 
  outline: none !important;
 }

@media screen and (max-width: 980px) {
  .changePassword-wrap{
    margin-right: -15px;
  }
}

@media screen and (max-width: 870px) {
  .changePassword-wrap{
    margin-right: -35px;
  }
}
