%adminColumns {
  display: block;

  padding: 15px 25px;
  width: 100%;
  border: solid 1px $colorBorder;

  background-color: white;

  font-size: 18px;
  text-align: start;

  cursor: pointer;
}

%adminRows{
  margin-right: 60px;

  border: 0;

  background-color: white;

  cursor: pointer;
}

.admin-box {
  margin: 0 auto;
  max-width: 830px;
  width:100%;
  margin-top: 10px;
	flex: 1 0 auto;
  
  .admin-container{
    display: flex;
    max-width: 830px;

    .admin-column{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 200px;
      margin-right: 30px;

      .categoryColumn, .catalogOfGoodsColumn, .personalDataColumn, .exitButton, .historyOrdersColumn, .basketColumn{
        @extend %adminColumns;
      }

      .exitButton{
        background-color: $colorBorder;
      }

      .exitLink{
        width: 100%;
        text-decoration: none;
      }

      .photoPersonalAccount, .photoPersonalAccountEmpty{
        width: 200px;
      }

      #upload-container div {
        position: relative;
        z-index: 10;
      }
   
      #upload-container input[type=file] {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        position: absolute;
        z-index: -10;
      }

      .errorPhoto{
        color: red;
      }

      .choosePhotoButton{
        @extend %adminColumns;

        margin: 0px;
        width: 147px;
        margin-bottom: 30px;

        cursor: pointer;
      }
    }

    .admin-row{
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      .categoryRow, .catalogOfGoodsRow, .personalDataRow, .currentOrderRow, .orderHistoryRow, .historyOrdersRow, .basketRow{
        @extend %adminRows;
      }

      .categoryString, .productsString, .personalAccountString, .currentOrderString, .historyOrdersString, .basketString{
        font-size: 18px;
      }

      .personalAccountIcon, .orderHistoryIcon, .currentOrderIcon{
        width: 115px;
      
        fill:$colorLightGreenItem;
      }

      .orderHistoryIcon{
        width: 105px;
      }

      .currentOrderIcon{
        width: 155px;
      }

      .personalAccountDiv{
        width: 106px;
        height: 94px;
  
        fill:$colorLightGreenItem;
      }
    }
  }
}


.categoryColumn:active, .categoryColumn:focus, .catalogOfGoodsColumn:active, .catalogOfGoodsColumn:focus, .personalDataColumn:active, .personalDataColumn:focus, .exitButton:active, .exitButton:focus, .historyOrdersColumn:active, .historyOrdersColumn:focus, .basketColumn:active, .basketColumn:focus{ 
  outline: none !important;
 }

 .categoryRow:active, .categoryRow:focus, .catalogOfGoodsRow:active, .catalogOfGoodsRow:focus, .personalDataRow:active, .personalDataRow:focus, .currentOrderRow:active, .currentOrderRow:focus, .orderHistoryRow:active, .orderHistoryRow:focus,  .historyOrdersRow:active, .historyOrdersRow:focus, .basketRow:active, .basketRow:focus{
  outline: none !important;
 }
