@import '../../main/header/styles/header-box';

.popupBasket-box{
    padding: 10px;
    position: relative;

    .backSymbol{
        position: absolute;
        top:0px;
        right: 0px;

        width: 30px;
        
        cursor: pointer;
        fill:red;
    }

    .popupBasketButtons-box{
        display: flex;
        justify-content: space-between;

        .popupBasketButton{
            @extend %button;
        }
    }
}